@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './mixins';
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  @include mobile{
    font-size: 11px;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  //   font-family: 'M PLUS Rounded 1c', sans-serif;
  //   font-family: 'Montserrat', sans-serif;
  //   font-family: 'Open Sans', sans-serif;
  //   font-family: 'Work Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
  // &:hover{
  //   color: $main-color;
  // }
}
@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
  }
  .bg-#{$color} {
    background-color: $val;
  }
}
@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}
@each $val in $numbers {
  .grid-col-md-#{$val} {
    @include tablet {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}
@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  padding: 0 100px;
  margin: auto;
  @include tablet {
    padding: 0 25px;
  }
  @include mobile {
    padding: 0 18px;
  }
}
.main {
  margin-top: $header-height;
  margin-bottom: 2rem;
  min-height: 100vh;
  @include tablet {
    margin-top: calc(#{$header-tablet-height} + 20px);
  }
  @include mobile {
    margin-top: calc(#{$header-mobile-height} + 10px);
  }
}

.grid{
  display: grid;
  
}
