.alert-like,
.alert-unlike {
  width: 380px;
  height: 110px;
  background-color: $main-color;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateY(-100%);
  font-size: 1.4rem;
  color: $text-main-color;
  border-radius: 10px;
  text-align: center;
  padding: 0 20px;
  @include flex(center, center);
  @include mobile{
    width: 280px;
    height: 100px;
    font-size: 1.2rem;
  }
  &__wrapper {
    &__title {
      color: white;
      font-weight: normal;
      margin-bottom: 5px;
      @include flex(center, space-between);
    }
    &__info {
      color: $text-main-color;
      text-align: left;
      strong {
        color: #fff;
      }
    }
  }
  &.activeAlert{
    animation: alert 4s ease-in-out;
    &_info {
      flex-grow: 1;
    }
  }
}
.alert-unlike {
  width: 280px;
  height: 110px;
  @include mobile{
    width: 280px;
    height: 80px;
    font-size: 1.2rem;
  }
}
@keyframes alert {
  0% {
    transform: translateY(-100%);
  }
  30% {
    transform: translateY(60%);
  }
  100% {
    transform: translateX(100%);
  }
}
