.buttonstt {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 11%;
  right: 0%;
  @include tablet{
    right: 1%;
  }
  background-color: $main-color;
  cursor: pointer;
  border-radius: 50%;
  @include mobile{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  @include flex(center, center);
  &__button {
    cursor: pointer;
    background-color: $main-color;
    &__icon {
      font-size: 3.5rem;
      @include mobile{
        font-size: 3rem;
      }
      color: #fff;
    }
  }
}
.hide{
  display: none;
}
