
.btn {
  border: 0;
  outline: 0;
  color: $btn-main-color;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-right: 10px;
  &:hover{
    transform: scale(1.03);
    @include shadow(1)
  }
  @include mobile {
    border-radius: 5px;
  }
  &__text,
  &__icon {
    display: block;
    transition: transform 0.5s ease;
  }
  &__text {
    padding: 1.6rem 3rem;
    @include mobile{
        padding: 0.7rem 1rem;
        font-size: 1.2rem;
    }
  }
  &__icon {
    @include flex(center, center);
    font-size: 2.4rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
  }
  &-animate:hover &__icon {
    transform: translateX(0);
  }
  &-animate:hover &__text {
    transform: translateX(-100%);
  }
  &-sm &__text {
    font-size: 1.2rem;
    padding: 1.2rem 1.4rem;
  }
}
