.hero-slider {
  height: 100vh;
  @include tablet {
    max-height: 650px;
  }
  @include mobile {
    height: 85vh;
  }
  max-height: 1080px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  margin-top: calc(#{$header-height} * -1);
  @include tablet {
    margin-top: calc(#{$header-tablet-height} * -0.6);
  }
  @include mobile {
    margin-top: calc(#{$header-mobile-height} * -0.6);
  }
  &__control {
    @include flex(center, center);
    position: absolute;
    bottom: 0;
    left: 50%;
    @include mobile {
      top: 95%;
      left: 50%;
    }
    @include tablet {
      bottom: 0;
    }
    transform: translateX(-50%);
    &__item ~ &__item {
      margin-left: 10px;
    }
    &__item {
      @include flex(center, center);
      font-size: 2.8rem;
      @include mobile {
        font-size: 2rem;
      }
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
      .index {
        font-size: 1.8rem;
        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
  }
  &__item {
    @include flex(center, space-between);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    inset: 0;
    @include mobile {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column-reverse;
      padding-top: unset;
    }
    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }
    &.active &__info {
      &__title > span,
      &__description > span,
      &__btn button {
        transform: translateX(0);
      }
    }
    &__info {
      width: 100%;
      @include mobile {
        width: 100%;
      }
      &__title,
      &__description {
        margin-bottom: 50px;
        @include tablet {
          padding-bottom: 10px;
          margin-bottom: 15px;
        }
      }
      &__title {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 600;
        font-size: 4.5rem;
        line-height: 6.75rem;
        white-space: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        @include mobile {
          font-size: 2.5rem;
          line-height: 3.75rem;
        }
      }
      &__description {
        color: $text-second-color;
        font-size: 1.8rem;
        line-height: 2.5rem;

        @include tablet {
          font-size: 1.6rem;
        }
        @include mobile {
          font-size: 1.4rem;
          line-height: 2.5rem;
        }
        @include mobileRound {
          height: 100px;
          width: 100%;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      &__btn {
        overflow: hidden;
      }
      &__title > span,
      &__description > span,
      &__btn button {
        display: block;
        transform: translateX(-100%);
        transition: transform 0.25s ease;
      }
    }
    &__img {
      position: relative;
      width: 70%;
      z-index: 99;
      height: 100%;
      width: 100%;
      pointer-events: none;
      @include tablet {
        z-index: 98;
        height: 65vh;
      }
      @include tabletPro {
        z-index: 98;
      }
      @include mobile {
        z-index: 98;
        height: 45vh;
      }
      img {
        z-index: 97;
        height: 100%;
        width: 100%;
        object-fit: contain;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: scale(0) rotate(65deg);
        transition: transform 0.25s cubic-bezier(0.075, 0.885, 0.32, 1.275);
        @include tabletPro {
          top: 0%;
          right: -20%;
        }
      }
      .shape {
        height: 442px;
        width: 442px;
        position: absolute;
        right: 100px;
        top: 50%;
        border-radius: 21% 79% 18% 82% / 76% 18% 82% 24%;
        transform: translate(0, -50%);
        transition: border-radius 13s ease;
        animation: border ease 30s infinite;
        @include tablet {
          height: 272px;
          width: 272px;
        }
        @include mobile {
          height: 180px;
          width: 180px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        @include tabletPro {
          height: 252px;
          width: 252px;
        }
      }
    }
    &.active &__img > img {
      transform: scale(1) rotate(0);
    }
  }
}

@keyframes border {
  0% {
    border-radius: 21% 79% 18% 82% / 76% 18% 82% 24%;
  }
  20% {
    border-radius: 39% 61% 35% 65% / 59% 34% 66% 41%;
  }
  40% {
    border-radius: 51% 49% 47% 53% / 42% 54% 46% 58%;
  }
  60% {
    border-radius: 65% 35% 60% 40% / 24% 70% 30% 76%;
  }
  80% {
    border-radius: 74% 26% 73% 27% / 12% 81% 19% 88%;
  }
  100% {
    border-radius: 85% 15% 85% 15% / 5% 89% 11% 95%;
  }
}
