.product-card {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 50px;
  &__input{
      position: absolute;
      z-index: 100;
      bottom: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(10px)
  }
  &__img {
    padding-top: 150%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 20px;
    }
    transition: transform 0.5s ease;
    img {
      object-fit: cover;
      background-position: center;
      box-shadow: $box-shadow;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      &:nth-child(1) {
        transform: translateX(-50%) scale(1);
      }
      &:nth-child(2) {
        transform: translateX(-50%) scale(0);
      }
      &.active {
        transform: translateX(-50%) scale(1);
      }
    }
    &:hover {
      transform: scale(1.03);
    }
  }
  &__btn {
    transform: translateY(-40%);
    @include tabletPro {
      transform: translateY(0);
    }
    @include tablet {
      transform: translateY(0);
    }
    @include mobile {
      transform: translateY(0);
    }
  }
  &__choice {
    @include flex(center, center);
    cursor: pointer;
    gap: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &__option {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid $main-color;
      overflow: hidden;
      img {
        object-fit: contain;
        background-position: center;
      }
    }
  }
  &__name {
    font-size: 1.8rem;
    color: $text-main-color;
    font-weight: normal;
    min-height: 55px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    font-size: 1.6rem;
    color: $main-color;
    margin-bottom: 8px;
    min-height: 45px;
    @include mobile{
      min-height: 55px;
    }
    transform: translateY(-10px);
    @include flex(center, center);
    @include tabletPro {
      display: flex;
      flex-direction: column;
      min-height: 45px;
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      transform: translateY(0);
    }
    @include mobile {
      transform: translateY(0);
    }
    &__old {
      margin-right: 10px;
      color: $text-second-color;
    }
  }
  &__sale {
    @include flex(center, center);
    background-color: red;
    color: white;
    font-size: 1.2rem;
    width: 45px;
    height: 20px;
    position: absolute;
    top: 1%;
    left: -4%;
    font-weight: bold;
    @include tabletPro {
      left: -8%;
    }
    @include tablet {
      left: -5%;
    }
    @include mobile {
      left: -7%;
    }
    &::after {
      content: '';
      display: block;
      height: 20px;
      width: 10px;
      position: absolute;
      top: 0;
      right: 0;
      border-top: 10px solid red;
      border-bottom: 10px solid red;
      border-right: 10px solid transparent;
      border-left: 10px solid red;
      transform: translateX(10px);
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      border-top: 6px solid rgb(192, 35, 35);
      border-bottom: 6px solid transparent;
      border-right: 6px solid rgb(192, 35, 35);
      border-left: 6px solid transparent;
    }
  }
  &__like {
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 4%;
    font-size: 2.5rem;
    color: red;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    @include flex(center, center);
    &:hover{
       animation: likeAnimation linear 1.2s infinite
    }
  }
}
@keyframes likeAnimation {
  0%{ 
    transform: rotate(-15deg);
  }
  50%{
    transform: rotate(15deg);
  }
  100%{
    transform: rotate(-15deg);
  }
}
