.section {
  margin-bottom: 60px;
  & > * ~ * {
    margin-top: 50px;
  }
  &__title {
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    color: $main-color;
  }
  @include mobile{
    font-size: 1.8rem;
  }
}
